body{
	background-color: rgb(236,255,241);
}

h2{
	padding-bottom: 5px;
	padding-top: 35px;
}

#head{
	font-family: Arial black;	
}

#header{
	text-align: center;
	padding-top: 5px;
	border: 1px solid rgb(94,255,174);
	background-image: url(maha-buity.jpg);
	color:  white;
	height: 300px;
	box-shadow: -14px
	position: fixed;
}

.navigation{
	padding-top: 20px;
	margin-top: 55px;
	background-color: rgb(94,255,174);
	padding-bottom: 20px;
}


li{
	display: inline;
	padding: 40px;
	font-size: 20px;
	border: 1px solid background-color: rgb(94,255,174);
	border-width: 1100px;

}

.navigation{
	margin-top: 191px;
}

a{
	color: rgb(98,98,98);
	text-decoration: none;
}

a:hover{
	color: blue;
	background-color: #eceff1;
}

#heading-mumbai{
	color: blue;
}

#heading-mumbai:hover{
	text-decoration: underline;
	background-color: rgb(236,255,241);
}

#footer{
	text-align: center;
	padding-top: 0px;
	border: 1px solid rgb(94,255,174);
	background-color: rgb(94,255,174);
	color: rgb(98,98,98);
	height: 20px;
	bottom:0px;
	margin-top: 550px;
	width: 100%;
	padding-bottom: 25PX;
	width: 100%;
	position: fixed;
	

}

.content{
	margin-top: 120px;
	padding-left: 20px;
}

.mumbai-images{
	padding-left: 10px;
	padding-bottom: 20px;
}

.images{
	margin-left:10px; 
}

.mumbai-content{
	margin-top:0px;
	padding-bottom: 20px;
}

#images-link{
	color: blue;
	padding-left: 45%;
}

#images-link:hover{
	text-decoration: underline;
	background-color: rgb(236,255,241);
}

.how-to-reach{
	margin-bottom: 60px;
}

#flat-shedule{
	color: blue;
}

#flat-shedule:hover{
	text-decoration: underline;
	background-color: rgb(236,255,241);	
}

#train-shedule{
	color: blue;
}

#train-shedule{
	text-decoration: underline;
	background-color: rgb(236,255,241);	
}

.social-media-button{
	border: 1px solid gray;
	margin-bottom: 48px;
	width: 50%;
	text-align: center;
	margin-left: 305px;
	padding-bottom: 10px;
	background-color: gray;
	border-radius: 7px;

}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.map{
	width: 100%;
	height: 500px;
	border: 1px solid black;
	margin-bottom: 20px;
}